@charset "UTF-8";
html {
  overflow: scroll;
  overflow-x: hidden;
}

html ::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

body {
  font-family: HelveticaNowDisplay, -apple-system, blinkmacsystemfont, Segoe UI, roboto, Helvetica Neue, arial, sans-serif;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  font-weight: 278;
  font-style: normal;
  background: #000000;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

#stars {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 700;
}

.section0 {
  height: 170px;
  display: flex;
  flex-direction: row;
  background-color: #121212;
  z-index: 0;
}

.section0 .logo-sectio {
  flex: 0 0 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section0 .logo-sectio .logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  object-position: top;
  object-fit: cover;
}

.section0 .logo-sectio .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section0 .menu-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section0 .menu-section .header {
  width: 100%;
  height: 100px;
  /* 70% от 150px */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section0 .menu-section .header .href-games {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  width: 100%;
  font-weight: 900;
  font-size: 60px;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
}

.section0 .menu-section .header .href-games:hover {
  color: yellow;
  animation: blink-animation 0.15s steps(5, start) infinite;
}

.section0 .menu-section .header .href-games .logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section0 .menu-section .header .href-games .logo .left, .section0 .menu-section .header .href-games .logo .comment, .section0 .menu-section .header .href-games .logo .right {
  flex: 1;
  text-align: center;
}

.section0 .menu-section .nav-menu {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.section0 .menu-section .nav-menu ul {
  display: flex;
  list-style: none;
  margin-left: 50px;
}

.section0 .menu-section .nav-menu ul .fire {
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.5s;
}

.section0 .menu-section .nav-menu ul li {
  font-size: 20px;
  margin-right: 50px;
}

.section0 .menu-section .nav-menu .div-header-buttons {
  font-size: 30px;
  margin-left: auto;
  display: flex;
  gap: 50px;
  margin-right: 90px;
  margin-bottom: 10px;
}

.section0 .menu-section .nav-menu .div-header-buttons .menu-button {
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: #971456;
  height: 45px;
  border: none;
  border-radius: 20px;
}

.section0 .menu-section .nav-menu .div-header-buttons #button-wallet-connect {
  width: 200px;
}

.section0 .menu-section .nav-menu .div-header-buttons #button-wallet-connect:hover {
  background-color: yellow;
  color: #000000;
  animation: blink-animation 0.15s steps(5, start) infinite;
}

.section0 .menu-section .nav-menu .div-header-buttons #dropdown-menu {
  width: 45px;
}

.section0 .menu-section .nav-menu .div-header-buttons #dropdown-menu:hover {
  background-color: #a8a803;
  color: #000000;
  animation: blink-animation 0.15s steps(5, start) infinite;
}

#login:hover .fire, #login:hover, #roadmap:hover .fire, #roadmap:hover,
#store:hover .fire, #store:hover, #social:hover .fire, #social:hover {
  opacity: 1;
  color: yellow;
  animation: blink-animation 0.15s steps(5, start) infinite;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 2em;
  color: white;
}

section.section3 {
  background: black;
  height: 100vh;
  z-index: 100;
}

section.section3 .works {
  overflow: visible;
  box-sizing: border-box;
  position: relative;
  margin-top: 20vh;
  width: 130%;
  transform: rotate(-5deg);
  transform-origin: center;
  margin-left: -30px;
  z-index: 100;
}

section.section3 .works .wrapper__works {
  display: flex;
  position: relative;
  gap: 80px;
  width: calc(250px * 12);
  z-index: 0;
}

section.section3 .works .wrapper__works .img__wrap {
  display: flex;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  border: solid 0.25rem white;
  box-shadow: 0.5rem 0.5rem 0 -0.25rem #023f52, 0.5rem 0.5rem 0 0 white;
  filter: brightness(60%);
  transition: box-shadow;
}

section.section3 .works .wrapper__works .img__wrap:nth-child(odd) {
  z-index: 300;
}

section.section3 .works .wrapper__works .img__wrap :nth-child(even) {
  z-index: 100;
}

section.section3 .works .wrapper__works img {
  border-radius: 15px;
}

section.section3 .works .wrapper__works img:hover {
  filter: brightness(120%);
  transform: scale(105%);
  border-radius: 15px;
  border: solid 0.25rem white;
  box-shadow: 1rem 1rem 0 -0.25rem #023f52, 1rem 1rem 0 0 white;
}

section.section3 .works .wrapper__works .overlay-text {
  color: #ecdbd1;
  pointer-events: none;
  position: absolute;
  top: 30%;
  left: 25%;
  transform: rotate(5deg) translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 70px;
  z-index: 200;
}

section.section3 .works .wrapper__works .animated-img {
  animation: scroll 24s linear infinite;
}

section.section1 {
  position: relative;
  width: 100%;
  height: 500vh;
  z-index: 400;
}

section.section1 .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section.section1 .image-container .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.section1 .row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

section.section1 .row .man {
  height: 70%;
  width: auto;
  aspect-ratio: 3/5;
  z-index: 400;
}

section.section1 .row h1 {
  flex-grow: 1;
  text-align: center;
}

section.section2 {
  background: #c1c1bd;
  z-index: 500;
  display: flex;
  flex-direction: row;
}

section.section2 .img-section2 {
  display: flex;
  position: sticky;
  flex: 0 0 50%;
  justify-content: center;
  margin-top: 50px;
}

section.section2 .img-section2 #img2 {
  height: 50vh;
  width: auto;
  border-radius: 50px;
  box-shadow: 5px 5px 13px #000000;
}

section.section2 .text-section2 {
  flex: 0 0 1;
  display: flex;
}

section.section2 .text-section2 h2 {
  display: flex;
  justify-content: flex-end;
}

section.section4 {
  background: #e74c3c;
  z-index: 600;
}

section.section5 {
  background: #f39c12;
  z-index: 700;
}

section.section6 {
  background: #000000;
  height: 75vh;
  z-index: 800;
}

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  opacity: 1;
  backdrop-filter: blur(30px);
  color: white;
  width: 100%;
  height: 35vh;
  bottom: 0;
  z-index: 800;
}

footer p {
  opacity: 1;
  color: white;
  text-align: center;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-330px * 6));
  }
}

.edu-au-vic-wa-nt-guides {
  color: #ecdbd1;
  filter: drop-shadow(5px 5px 5px black);
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
